<footer class="bg-primary p-3" id="cont">
    <div class="container vegan-flag">
        <div class="footer">
            <div class="f-menu mx-auto d-sm-flex align-items-center">
                <a href="/" class="mx-3">
                    <img src="img/logo.png" alt="logo" class="footer-logo" >
                </a>
                <ul class=" footer-nav font-weight-bold d-sm-flex p-0 m-0">
                    <li class="px-xl-5 px-lg-4 px-2"><a href="index.html">Главная</a></li>
                    <li class="px-xl-5 px-lg-4 px-2"><a href="#about">О нас</a></li>
                    <li class="px-xl-5 px-lg-4 px-2"><a href="menuPage.html">Меню</a></li>
                    <li class="px-xl-5 px-lg-4 px-2"><a href="#share">Акции</a></li>
                    <li class="px-xl-5 px-lg-4 px-2"><a href="#">Доставка</a></li>
                    <li class="px-xl-5 px-lg-4 px-2"><a href="#cont">Контакты</a></li>
                </ul>
            </div>
            <div class="contacts row text-white py-md-4 py-2">
                <div class="col-sm-4">
                    <p>Мариуполь, Адмирала Лунина пр., 85</p>
                    <p>пн-вс: 07:30-24:00</p>
                    <p>+38 (0629) 40-65-77</p>
                    <p>+38 (066) 617-40-40</p>
                </div>
                <div class="col-sm-4">
                    <p> Вимарко © Все права <br>защищены</p>
                </div>
                <div class="col-sm-4">
                    <p>Разработано</p>
                    <a href="#"><img src="./img/f-logo.png" alt="logo" class="pt-2"></a>
                </div>
            </div>
        </div>
    </div>
</footer>