<header>
  <div class="navbar bg-primary">
      
    <a href="/" class="ml-auto">
      <img src="img/logo.png" alt="logo" class="logo" id="logo-header">
  </a>
    <ul class="links font-weight-bold">
      <li class="px-xl-4"><a href="index.html">Главная</a></li>
      <li class="px-xl-4"><a href="index.html#about">О нас</a></li>
      <li class="px-xl-4"><a href="menuPage.html">Меню ресторана</a></li>
      <li class="px-xl-4"><a href="#">Меню доставки</a></li>
      <li class="px-xl-4"><a href="index.html#share">Акции</a></li>
      <li class="px-xl-4"><a href="#cont">Контакты</a></li>
    </ul>

        <a href="#" class="text-decoration-none mr-auto">
            <div class="basket row d-flex justify-content-between">
                <img src="img/cart.png" alt="cart" class="order-2">
                <div class="basket__text order-1 ">Корзина</div>
            </div>
        </a>

    <div class="toggle">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </div>
</header>